/* futter */

.footer {
    background-color: rgb(123, 65, 65);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.icon i {
    padding-left: 5px;
}

.t {
    color: blue;
}

.f {
    color: blue;
}

.I {
    color: rgb(236, 56, 62);
}

.s {
    color: yellow;
}

.name {
    color: white;
    font-size: x-large;
    margin-top: 10px;
}


/* login */

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}